In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
data = pd.read_csv("all_match_results.csv")
data

            Date         HomeTeam Result                  AwayTeam
0    13-Aug-2021        Brentford    2:0                   Arsenal
1    14-Aug-2021          Burnley    1:2  Brighton and Hove Albion
2    14-Aug-2021          Chelsea    3:0            Crystal Palace
3    14-Aug-2021          Everton    3:1               Southampton
4    14-Aug-2021   Leicester City    1:0   Wolverhampton Wanderers
..           ...              ...    ...                       ...
375  22-May-2022   Crystal Palace    1:0         Manchester United
376  22-May-2022   Leicester City    4:1               Southampton
377  22-May-2022        Liverpool    3:1   Wolverhampton Wanderers
378  22-May-2022  Manchester City    3:2               Aston Villa
379  22-May-2022     Norwich City    0:5         Tottenham Hotspur

[380 rows x 4 columns]

In [12]:
data.head(10)

          Date           HomeTeam Result                  AwayTeam
0  13-Aug-2021          Brentford    2:0                   Arsenal
1  14-Aug-2021            Burnley    1:2  Brighton and Hove Albion
2  14-Aug-2021            Chelsea    3:0            Crystal Palace
3  14-Aug-2021            Everton    3:1               Southampton
4  14-Aug-2021     Leicester City    1:0   Wolverhampton Wanderers
5  14-Aug-2021  Manchester United    5:1              Leeds United
6  14-Aug-2021       Norwich City    0:3                 Liverpool
7  14-Aug-2021            Watford    3:2               Aston Villa
8  15-Aug-2021   Newcastle United    2:4           West Ham United
9  15-Aug-2021  Tottenham Hotspur    1:0           Manchester City

In [11]:
data.tail(10)

            Date                  HomeTeam Result                 AwayTeam
370  22-May-2022                   Arsenal    5:1                  Everton
371  22-May-2022                 Brentford    1:2             Leeds United
372  22-May-2022  Brighton and Hove Albion    3:1          West Ham United
373  22-May-2022                   Burnley    1:2         Newcastle United
374  22-May-2022                   Chelsea    2:1                  Watford
375  22-May-2022            Crystal Palace    1:0        Manchester United
376  22-May-2022            Leicester City    4:1              Southampton
377  22-May-2022                 Liverpool    3:1  Wolverhampton Wanderers
378  22-May-2022           Manchester City    3:2              Aston Villa
379  22-May-2022              Norwich City    0:5        Tottenham Hotspur

In [13]:
data.isnull().sum()

Date        0
HomeTeam    0
Result      0
AwayTeam    0
dtype: int64

In [15]:
data.describe()

               Date   HomeTeam Result AwayTeam
count           380        380    380      380
unique          123         20     31       20
top     22-May-2022  Brentford    1:1  Arsenal
freq             10         19     42       19

In [16]:
print(matches.columns)

Index(['Date', 'HomeTeam', 'Result', 'AwayTeam'], dtype='object')

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      380 non-null    object
 1   HomeTeam  380 non-null    object
 2   Result    380 non-null    object
 3   AwayTeam  380 non-null    object
dtypes: object(4)
memory usage: 12.0+ KB

In [18]:
data.shape

(380, 4)

In [19]:
data.columns

Index(['Date', 'HomeTeam', 'Result', 'AwayTeam'], dtype='object')

Create two tables: home and away goals

In [24]:
home_goals = matches.groupby('HomeTeam')['Result'].sum()
away_goals = matches.groupby('AwayTeam')['Result'].sum()

In [27]:
data.columns

Index(['Date', 'HomeTeam', 'Result', 'AwayTeam'], dtype='object')

Combine home and away goals

In [28]:
total_goals = home_goals.add(away_goals, fill_value=0)
print(total_goals)

HomeTeam
Arsenal                     0:21:03:12:23:11:02:03:02:01:20:02:12:12:00:21...
Aston Villa                 2:01:13:02:31:42:01:22:11:32:23:30:14:00:10:42...
Brentford                   2:00:13:30:11:21:21:02:10:12:11:31:20:00:22:02...
Brighton and Hove Albion    2:00:22:10:01:41:10:00:12:01:11:10:30:20:20:20...
Burnley                     1:21:10:10:03:13:30:00:01:10:11:00:20:40:23:22...
Chelsea                     3:03:00:13:17:01:11:13:21:11:12:22:01:01:42:41...
Crystal Palace              0:03:01:12:21:12:01:23:12:23:02:31:30:11:10:03...
Everton                     3:13:12:00:12:50:01:42:12:30:13:00:10:11:01:01...
Leeds United                2:20:31:21:01:11:11:02:21:43:10:12:40:40:32:11...
Leicester City              1:00:12:24:20:20:34:24:01:02:31:12:21:02:12:10...
Liverpool                   2:01:13:02:22:24:04:01:03:13:02:03:16:01:02:04...
Manchester City             5:05:00:02:00:23:02:11:07:06:31:02:02:34:12:23...
Manchester United           5:14:10:11:10:50:23:21:03:10:11:01:12:00:03:21...
Newcastle United            2:42:21:12:30:33:31:11:00:41:11:13:11:02:11:02...
Norwich City                0:31:21:30:01:22:10:00:10:20:52:11:10:41:31:32...
Southampton                 1:10:00:11:02:21:02:21:11:14:11:12:02:01:21:20...
Tottenham Hotspur           1:01:00:32:10:32:12:03:02:23:02:30:25:03:15:10...
Watford                     3:20:21:10:50:14:11:21:31:40:10:30:21:42:30:31...
West Ham United             4:12:21:21:21:03:21:13:22:32:02:31:01:11:02:12...
Wolverhampton Wanderers     0:10:10:22:12:11:00:00:10:03:10:12:10:24:02:32...
Name: Result, dtype: object

Top Goals
which team scored the most goals?

In [36]:
top_teams = data.groupby('Te')['GoalsConceded'].sum().sort_values()
print(least_conceded)

KeyError: 'Team'